* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  min-width: 450px;

  height: 100vh;
 
  display: flex;
  flex-direction: column;

}

img,a {
  display: block;
}

.navbar ul {
  padding: 0;
  list-style: none;
  display: flex;

}
.navbar ul li {
  padding: 1rem 0.5rem;
}
.navbar ul li:last-child {
  padding-right: 1rem;
}
.navbar ul li:first-child {
  margin-left: auto;
}


.navbar a:link,
.navbar a:visited {
  color: #202020;
  font-size:  0.813rem;
  font-weight: normal;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
  color: #000;
}


.main {
  height: 84vh; /* 72vh */
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid lightblue;
}

.main .img-container{
  margin-bottom: 2rem;
}

.main .input-container {
  width: 100%;
  margin-bottom: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.main input[type='text']{ 
  padding-left: 1rem;
  height: 40px;
  width: 95%;
  max-width: 575px;
  border: 1px solid #ccc;
  border-radius: 30px / 30px;
 
}

.main input[type='text']:hover {
  box-shadow: 1px 1px 1px 1px rgb(219, 218, 218);
  transition: all ease 0.4s;
}


.buttons-container {
  margin-top: 2rem;

}

.buttons-container .main-btn {
  margin-right: 1rem;
  padding: 0.7rem;
  border-radius: 4px;
  background :#fff;
  color: #3D3D3D;
  
  font-size: 0.825em;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons-container .main-btn:hover {
  border: 1px solid rgb(212, 212, 212);
  transition: all ease 0s;
}

.main p {
  padding-top: 2rem;
  font-size: 0.73em;
}

.main a {
  display: inline-block;
}

.main a:link,
.main a:visited {
  text-decoration: none;
}

.navbar-footer ul,
.navbar-footer a {
  text-decoration: none;
  list-style: none;
}

.navbar-footer ul {
  padding: 0;
}

.navbar-footer a:link,
.navbar-footer a:visited {
  color: #202020;
}

.navbar-footer a:hover {
  text-decoration: underline;
  color: #2D2D2D;
}

.footer {
  background: rgb(219, 219, 219);
  font-size: 0.785em; 
  font-weight: 300;

}

.footer p {
  padding: 1.5rem;
  border-bottom: 1px solid #ccc;
  height: 46px;
}

.footer-container {
  height: 49px;
}

.footer-container ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-container ul li {
  padding: 1rem;
}

@media only screen and (min-width: 665px) {

  .footer-container  {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .one {
  
    border: 1px solid green;
  }
  .two {
   
    border: 1px solid orangered;
  }
}