* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
 
  font-size: 16px;
  font-family: sans-serif;
  min-width: 450px;
  width: 100%;
  height: 100vh;
 
  display: flex;
  flex-direction: column;

}

img,a {
  display: block;
}

.navbar ul {
  padding: 0;
  list-style: none;
  display: flex;

}
.navbar ul li {
  padding: 1rem 0.5rem;
}
.navbar ul li:last-child {
  padding-right: 1rem;
}
.navbar ul li:first-child {
  margin-left: auto;
}


.navbar a:link,
.navbar a:visited {

  color: #202020;
  font-size:  0.813rem;
  font-weight: normal;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
  color: #000;
}


.main {
  height: 84vh; /* 72vh */
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid lightblue;
}


  
.main .img-container{
  margin-bottom: 2rem;
  border: 1px solid red;
}

.main .input-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  border: 1px solid purple;
  margin-bottom: 2rem;
}

.main input[type='text']{ 
  padding-left: 1rem;
  height: 40px;
  width: 95%;
  max-width: 575px ;
  border: 1px solid #ccc;
  border-radius: 30px / 30px;
}
.main input[type='text']:hover {
  box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
  transition: all ease 0.3s;
}



.buttons-container {
  margin-top: 2rem;
}

.buttons-container .main-btn{
  margin-right: 1rem;
  padding: 0.65rem;
  border-radius: 3px;
  background : rgb(214, 212, 212);

  font-size: 0.77em;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main p {
  padding-top: 2rem;
  font-size: 0.73em;
}
.main a {
  display: inline-block;
}